@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* navbar */
#navbar{
    background-color:#62b1f7 !important;
    
    
}
.img-fluid{
    border-radius: 50% !important;
}
#navbar-menu{
    font-size: 20px;
}
.nav-item{
    border: 2px solid gray;
    background-color: white;
    padding: 2px;
    margin: 10px;
    border-radius: 10px 30px 10px;
}

.carousel-inner .carousel-caption{
    padding-bottom: 300px !important;
}
.carousel-inner .carousel-caption h5{
    font-size: 80px !important;
}
